@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* border: white; */
    font-family: sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: rgb(81, 3, 1);
    --secondary-color:rgb(198,73,61);
    --font-color: rgb(150, 100, 93);
}
body{
    background-color: black;
}

main {
    background-color: var(--bg-color);
    width: 60%;
    margin: auto;
    height: auto;
    padding-bottom: 10rem;
    border-radius: 2rem;

}

#header-cnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.left-cnt {
    width: 10%;
    /* border: 2px solid black; */
   
}

.left-cnt img {
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
}

.middle-cnt {
    width: 72%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(149, 35, 40);
    padding-bottom: 2rem;

}

.title-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    width: 60%;
    height: 4rem;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 100;
}

.title-cnt h2 {
    font-family: sans-serif;
    text-shadow: 2px 3px 3px rgb(197, 69, 41);
    color: rgb(209, 104, 98);
    animation: burn 3s infinite;

}
.goal-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goal-cnt h3 {
    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.percent-cnt {
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.title-cnt h3 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(214, 110, 106);
}

.left-cnt {
    width: 10%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: -4rem;
}

.left-cnt i {
    font-size: 2rem;
    color: rgb(214, 82, 82);
    padding: 0.5rem;
}

.line {
    margin: auto;
    content: '';
    position: absolute;
    display: inline;
    top: 28%;
    left: 25%;
    width: 50%;
    height: 3px;

    /* background-color: rgb(153, 43, 39); */
    margin-top: 1rem;



}

.days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    /* border: 2px solid; */
 
}


.day {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid; */
}


.dayName {
    width: 50%;
    /* color: rgb(188, 36, 36); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    height: 1.8rem;
    font-weight: 600;
    color: rgb(174, 80, 80);
}


.dayName:hover {
    color: white;
    background-color: rgb(119, 77, 71);
}

.calories-img {
    width: 5rem;
    height: 5rem;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    object-fit: cover;
    padding: 0.8rem;
    filter: brightness(0.8);
 
    
}
.calories-img :hover{
    transform: scale(1.08);
}

/* animation */
@keyframes burn {
    0% {
       opacity: 0.5;
      
        }
    25% {
     opacity:1;
    }
    50% {
       opacity: 0.5;
    }
    75% {
        /* transform: translateX(-1px); */
       opacity: 1;
    }
    100% {
        /* transform: translateX(0); */
       opacity: 0.5;
    }
}
.gff{
transform: rotate(222deg);
}
#friday{    
   border: 4px solid; 
   border-top-color: rgb(255, 135, 81);
   border-right-color:rgb(183, 36, 36);
   border-left-color: rgb(255, 135, 81);
   border-bottom-color:rgb(183, 36, 36);
   transform: rotate(138deg);
}
/* .calories-img:hover {
    filter: brightness(0) invert(1);
    padding: 10px;
    background-color: black;
  
} */

.calories-img img {
    width: inherit;
    height: inherit;
    /* color: white; */
}

.NumberOfcal {
    color: var(--secondary-color);
    margin-top: 0.6rem;
}

footer {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 2px solid; */
    gap: 2%;
    background-color:var(--secondary-color);
    border-radius: 10rem;
    margin-top: 4rem;
}

/* footer::before {
    content: '';
    position: absolute;
    top: 71%;
    left: 25%;
    width: 2px;
    height: 16%;
} */

#left {
    width: 20%;
    height: 16vh;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-right: 2px solid rgb(219, 149, 64);
}

#left span {
    font-size: 2rem;
}

#middle {
    width: 40%;
    height: 16vh;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#right {
    width: 15%;
    height: 16vh;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#right img {
    border: 10px dashed rgb(241, 235, 235);
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    padding: 0.2rem;
}

#middle span {
    font-size: 3rem;
    font-weight: 400;
}

#middle h4 {
    display: in;
}
@media (max-width:320px) {
    main {
        background-color: var(--bg-color);
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 10rem;
    
    }
    #header-cnt {
        width: 100%;
    }

    .title-cnt {
        width: 95%;
        /* Reduce width for better fit */
        font-size: 1rem;
        /* Smaller font size */
    }
    .goal-cnt{
        width: 80%;
       
    }
    .goal-cnt h3{
        font-size: 0.9rem;
        width: 100%;
    }
.middle-cnt .percent-cnt{
    font-size: 0.8rem;
}
    .days {
        width: 100%;
        padding: 0.5rem;
    }

    .day {
        width: 15%;
   
        margin: 0.5rem 0;
        /* Reduce vertical spacing */
    }

    .dayName {
        width: 70%;
        /* Reduce day name width */
        font-size: 0.6rem;
  
    }

    .calories-img {
        width: 2.2rem;
        /* Smaller circular image */
        height: 2.2rem;
        /* Adjust height */
    }

    .calories-img img {
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
    }
    .NumberOfcal{
        font-size: 0.5rem;
    }

    footer {
        width: 85%;
        height: 6rem;
    }

    #left{
        width: 25%;
        height: 4rem
    }
    #left p{
        font-size: 0.8rem;
    }
    #middle{
        width: 30%;
        margin-left: 10px;
        
    }
    #right {}

    #middle span {
        font-size: 1rem;
        
    }

    #left span {
        font-size: 0.8rem;

    }
    #left h4,#middle h4 {
        font-size: 0.6rem;
    }

    #left h4 {}

    #right img {
        width: 2.5rem;
  
        height: 2.5rem;
        border: 5px dashed rgb(241, 235, 235);
    }

    footer::before {
        content: '';
        position: absolute;
        top: 72%;
        left: 34%;
        width: 1.5px;
        height: 10%;
        /* background-color: #FF7F00; */
    }

    .line {
        top: 35%;

    }
    
}




@media only screen and (max-width:375px ) and (min-width:320px) {
    main {
        background-color: var(--bg-color);
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 10rem;
    
    }
      #header-cnt {
        width: 100%;
    }

    .title-cnt {
        width: 95%;
        /* Reduce width for better fit */
        font-size: 1.2rem;
        /* Smaller font size */
    }
    .goal-cnt{
        width: 80%;
       
    }
    .goal-cnt h3{
        font-size: 1.05rem;
        width: 100%;
    }
    .middle-cnt .percent-cnt{
        font-size: 1rem;
    }

    .days {
        width: 100%;
        padding:0.8rem;
    }

    .day {
        width:2rem;
   
        margin: 0.5rem 0;
        /* Reduce vertical spacing */
    }

    .dayName {
        width: 70%;
        /* Reduce day name width */
        font-size: 0.9rem;
  
    }

    .calories-img {
        width: 2.5rem;
        /* Smaller circular image */
        height: 2.5rem;
        /* Adjust height */
    }

    .calories-img img {
        width: 2.2;
        height: 2.2;
        padding: 0.1rem;
    }
    .NumberOfcal{
        font-size: 0.9rem;
    }


    footer {
        width: 85%;
        height: 6rem;
    }

    #left{
        width: 25%;
        height: 4rem;
    }
    #middle{
        width: 30%;
        margin-left: 10px;
        /* margin-top: -1rem; */
    }
    #right {}

    #middle span {
        font-size: 1rem;
        
    }

    #left span {
        font-size: 0.8rem;

    }
    #left p{
        font-size: 0.5rem;
    }
    #left h4,#middle h4 {
        font-size: 0.6rem;
    }

    #left h4 {}

    #right img {
        width: 2.5rem;
  
        height: 2.5rem;
        border: 5px dashed rgb(241, 235, 235);
    }

    footer::before {
        content: '';
        position: absolute;
        top: 74%;
        left: 33%;
        width: 2px;
        height: 10%;
        /* background-color: #FF7F00; */
    }

    .line {
        top: 35%;

    }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
    main {
        background-color: var(--bg-color);
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 10rem;
    
    }
    #header-cnt {
        width: 100%;
    }

    .title-cnt {
        width: 95%;
        /* Reduce width for better fit */
        font-size: 1.2rem;
        /* Smaller font size */
    }
    .goal-cnt{
        width: 80%;
       
    }
    .goal-cnt h3{
        font-size: 1.2rem;
        width: 100%;
    }
    .middle-cnt .percent-cnt{
        font-size: 1.1rem;
    }

    .days {
        width: 100%;
    }

    .day {
        width: 15%;
   
        margin: 0.5rem 0;
        /* Reduce vertical spacing */
    }

    .dayName {
        width: 70%;
        /* Reduce day name width */
        font-size: 0.9rem;
  
    }

    .calories-img {
        width: 3rem;
        /* Smaller circular image */
        height: 3rem;
        /* Adjust height */
    }

    .calories-img img {
        width: 2.5rem;
        height:2.5rem;

    }
    .NumberOfcal{
        font-size: 0.5rem;
    }

    footer {
        width: 85%;
        height: 6rem;
    }

    #left{
        width: 22%;
        height: 5rem;
    }
    #left p{
        font-size: 0.8rem;
    }
    
    #middle{
        width: 35%;
        margin-left: 10px;
       /* / margin-top: -1rem; */
    }
    #right {}

    #middle span {
        font-size: 1.3rem;
        
    }

    #left span {
        font-size: 1rem;

    }
    #left h4,#middle h4 {
        font-size: 0.8rem;
    }

    #left h4 {}

    #right img {
        width: 2.5rem;
  
        height: 2.5rem;
        border: 5px dashed rgb(241, 235, 235);
    }

    footer::before {
        content: '';
        position: absolute;
        top: 74%;
        left: 33%;
        width: 2px;
        height: 10%;
        /* background-color: #FF7F00; */
    }

    .line {
        top: 35%;

    }
}

@media only screen and (max-width: 678px) and (min-width: 425px) {
    #header-cnt {}
    main {
        background-color: var(--bg-color);
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 10rem;
    
    }

    .title-cnt {
        width: 90%;
        /* Reduce width for better fit */
        font-size: 1.5rem;
        /* Adjust font size */
    }

    .days {
        width: 100%;
        padding: 0.8rem;
    }

    .day {
        width: 12%;
        /* Make days responsive */
        margin: 1rem 0;
        /* Add spacing */
    }

    .dayName {
        width: 80%;
        /* Adjust day name width */
        font-size: 1rem;
        /* Reduce font size */
    }

    .calories-img {
        width: 4rem;
        /* Smaller circular image */
        height: 4rem;
        /* Adjust height */
    }

    .calories-img img {
        width: 3rem;
        height: 3rem;
    }

    footer {
        height: 15vh;
    }

    #left {
        width: 25%;
        height: 5rem;

    }

    #middle {
        width: 40%;
        height: 5rem;
    }

    #right {
        width: 15%;
        height: 5rem;
    }

    #right img {
        width: 3rem;
        height: 3rem;
    }

    footer::before {
        content: '';
        position: absolute;
        top: 80%;
        left: 37%;
        width: 2px;
        height: 10%;
        /* background-color: #FF7F00; */
    }
    #right img {
        width: 3rem;
  
        height: 3rem;
        border: 5px dashed rgb(241, 235, 235);
    }
    #middle span {
        font-size: 1rem;
    }

    #left span {
        font-size: 1.4rem;

    }

}
@media only screen and (max-width: 768px) and (min-width: 678px)
{
    main {
        background-color: var(--bg-color);
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 10rem;
    
    }
      footer::before {
        content: '';
        position: absolute;
        top: 73%;
        left: 25%;
        width: 2px;
        height: 15%;
        /* background-color: #FF7F00; */
    }
    #middle span {
        font-size: 1.5rem;
    }

    #left span {
        font-size: 1.1rem;

    }
    .calories-img {
        width: 3.5rem;
        /* Smaller circular image */
        height: 3.5rem;
        /* Adjust height */
    }

    .calories-img img {
        width: 3rem;
        height: 3rem;
    }

    
    #right img {
        width: 4rem;
  
        height: 4rem;
        border: 5px dashed rgb(241, 235, 235);
    }
}
@media only screen and (max-width:1024px) and (min-width:768px)
 {
    .calories-img {
        width: 4rem;
        /* Smaller circular image */
        height: 4rem;
        /* Adjust height */
    }
    .calories-img img{
        padding: 0.4rem;
    }
    .title-cnt h2{
        font-size: 2rem;
    }
    .days{
        padding: 1rem;
    }
    #middle{
      width: 40%;
    }
    #middle span {
        font-size: 1.5rem;
       
    }
    #middle p{
        margin-top: -1rem;
    }

    #left span {
        font-size: 1.1rem;

    }
    #left p{
      padding-right: 0.5rem;
    }
    #right img {
        border: 5px dashed rgb(241, 235, 235);
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }
    footer::before {
        content: '';
        position: absolute;
        top: 74%;
        left: 36%;
        width: 2px;
        height: 15%;
        /* background-color: #FF7F00; */
    }
    .line {
        top: 30%;

    }
}
@media only screen and (max-width:1440px) and (min-width:1025px){
    .calories-img{
        width: 4rem;
        height: 4rem;
    }
}
